<h1>Posts</h1>
<div>
  <% @posts.each do |post| %>
    <div>
      <strong>Title:</strong> <%= post.title %>
      <% if user_signed_in? %>
        <br><strong>Author:</strong> <%= post.user.email %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
<%= link_to "New Post", new_post_path %>
<br>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
