<h1>New Post</h1>
<%= form_with model: @post do |form| %>
  <%= form.label :title, "Title of the Post" %> <br>
  <%= form.text_field :title, placeholder: "Title" %> <br><br>
  <%= form.label :content, "Please type the content of Post" %> <br>
  <%= form.text_area :content, placeholder: "Here goes the post" %> <br><br>
  <%= form.submit %> <br>
<% end %>
<%= link_to "All Posts", posts_path %> 
